/* @import 'Geomanist-Regular-Webfont/stylesheet.css';
@import 'Geomanist-Italic-Webfont/stylesheet.css'; */

@font-face {
    font-family: 'geomanistregular';
    src: url('Geomanist-Italic-Webfont/geomanist-regular-webfont.eot');
    src: url('Geomanist-Italic-Webfont/geomanist-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Geomanist-Italic-Webfont/geomanist-regular-webfont.woff2') format('woff2'),
         url('Geomanist-Italic-Webfont/geomanist-regular-webfont.woff') format('woff'),
         url('Geomanist-Italic-Webfont/geomanist-regular-webfont.ttf') format('truetype'),
         url('Geomanist-Italic-Webfont/geomanist-regular-webfont.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geomanistitalic';
    src: url('Geomanist-Regular-Italic-Webfont/geomanist-regular-italic-webfont.eot');
    src: url('Geomanist-Regular-Italic-Webfont/geomanist-regular-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Geomanist-Regular-Italic-Webfont/geomanist-regular-italic-webfont.woff2') format('woff2'),
         url('Geomanist-Regular-Italic-Webfont/geomanist-regular-italic-webfont.woff') format('woff'),
         url('Geomanist-Regular-Italic-Webfont/geomanist-regular-italic-webfont.ttf') format('truetype'),
         url('Geomanist-Regular-Italic-Webfont/geomanist-regular-italic-webfont.svg#geomanistitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
    font-weight: 400;
    font-family: Geomanist, sans-serif;
    line-height: 1.5;
    font-size: 16px;
    color: #323130;
    background: #f7f7f7;
}



.section-header{
    background-color: #edecec;
    min-height: 600px;
}




.tool{
    transition: .4s;
    min-height: 350px;
    color:#999;
    padding: 30px;
    margin: 2rem 1rem;
    background-color: #fff;
    text-align: center;
    border-radius: .25rem;
    
    margin: 2rem 1rem;
    padding: 2rem;
    border-radius: .25rem;
    background-color: #fcfcfc;
    transition: .4s;
}

.tool:hover{
    box-shadow: 0 0.625rem 1.25rem rgb(23 82 164 / 20%);
    transition: .4s;
}

.tool__desc {
    margin-bottom: 1.5rem;
    font-size: .875rem;
    text-align: center;
    color: #8a8887;
    height: 4rem;
    margin-bottom: 2rem;
}
.tool__heading {
    margin-bottom: 1rem;
    font-size: 1.125rem;
    text-align: center;
    color: #323130;
}

.tool__icon {
    -webkit-tap-highlight-color: transparent;
    font-weight: 400;
    font-family: Geomanist, sans-serif;
    line-height: 1.5;
    color: #999;
    text-align: center;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    margin-bottom: 1.5rem;
    border-radius: 2.5rem;
    background-color: rgba(108,170,217,.05);
    height: 5rem;
    font-size: .75rem;
}
.tool__icon::before {
    margin: 0;
    font-size: 2rem;
    color: #1752a4;
}

.button{    
    text-align: left;
    line-height: 1.5;
    box-sizing: border-box;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border-style: solid;
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
    transition: .4s;
    display: inline-flex;
    flex-grow: 0;
    width: auto;
    padding: 0 2rem;
    border-width: .0625rem;
    border-radius: .125rem;
    font-weight: 500;
    border-color: #1752a4;
    color: #fff;
    background-color: #1752a4;
    height: 3rem;
    font-size: .75rem;
    font-weight: bold;
}
.button:hover{
    color: white;
}  


.tool__heading {
    font-family: Geomanist,sans-serif;
    box-sizing: border-box;
    margin-top: 0;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1rem;
    font-size: 1.125rem;
    text-align: center;
    color: #323130;
}